<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" <%= 'checked' if task.completed? %>>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create Task', tasks_new_path %>
<%= link_to 'Edit Task', tasks_edit_path %>
